@import url(normalize.css);
@import url(skeleton.css);

html, body {
    min-height: 100vh;
    background: #fff;
}

h1 { font-size: 3.5rem; }
h2 { font-size: 3.0rem; }
h3 { font-size: 2.5rem; }
h4 { font-size: 2.0rem; }

a { text-decoration: none; }

.site-header > div,
.navbar {
  content: "";
  display: table;
  clear: both;
}

.site-header {
    margin-bottom: 3rem;
    padding: 2rem 0;
    background: #1EAEDB;
}

.site-brand {
    display: block;
    padding: .5rem;
    margin: 0 auto;
    background: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.site-brand img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.site-brand:hover, .site-brand:visited {
    color: #000;
}

.navbar {
    margin: 3rem 0;
}

.navbar > ul > li {
    float: left;
}

.navbar > ul > li > a {
    display: block;
    margin-right: 1.5rem;
    padding-bottom: 1rem;
    font-weight: bold;
    border-bottom: 1px transparent solid;
}

.navbar > ul > li.active > a {
    color: #000;
    border-color: #000;
}

.navbar a {
    text-decoration: none;
}

.navbar ul {
    padding: 0;
    list-style: none;
}

.site-footer {

}