@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(normalize.css);
@import url(skeleton.css);



html {
    min-height: 100vh;
    background: #fff;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 1.8em;
}

h1 { font-size: 3.0rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2.0rem; }
h4 { font-size: 1.5rem; }

h1,h2,h3,h4 { font-weight: 600; }

a { text-decoration: none; }
small { text-transform: uppercase; }

.site-header > div,
.navbar {
  content: "";
  display: table;
  clear: both;
}

.site-header {
    margin-bottom: 3rem;
    background: #1EAEDB;
}

.site-brand {
    display: block;
    padding: .5rem;
    margin: 0 auto;
    background: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    border-radius: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    border: 1px #1EAEDB solid;
    width: 50px;
    height: 50px;
}

.site-brand img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.site-brand:hover, .site-brand:visited {
    color: #000;
}

.navbar {
    margin: 4rem 0;
    font-size: 1.3rem;
}

.navbar > ul > li {
    float: left;
    font-weight: 300;
}

.navbar > ul > li > a {
    display: block;
    margin-right: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px transparent solid;
    text-transform: uppercase;
}

.navbar > ul > li.active > a {
    color: #000;
    border-color: #000;
}

.navbar a {
    text-decoration: none;
}

.navbar ul {
    padding: 0;
    list-style: none;
}

.site-footer > div {
    margin-top: 4rem;
    padding: 1.2rem 0;
    font-size: 1.2rem;
    font-weight: 400;
}

.site-footer > div:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    border-top: 1px #eee solid;
}