
@if(!isset($index))

    <!-- The article is not rendered by blog/index -->

    @extend('theme:layout.html')

    {% $article = $page %}

    <p>
        <a class="button button-primary" href="@route('/blog')">Back to index</a>
    </p>

@endif

<article>

    @if( $article->meta('created') )

    <div class="u-mb">
        <span class="badge u-text-upper">{{ date('d. M Y', strtotime($article->meta('created'))) }}</span>
    </div>

    @endif

    <h3>{{ $article->meta('title') }}</h3>

    {{ $article->content() }}

</article>
