
@if(!isset($index))

    <!-- The article is not rendered by blog/index -->

    @extend('theme:layout.html')

    {% $article = $page %}

    <p>
        <a class="button" href="@route('/blog')">Back to index</a>
    </p>

@endif

<article class="article">

    <h2 class="article-title"><a href="{{ $article->url() }}">{{ $article->meta('title') }}</a></h2>

    @if( $article->meta('created') )

    <div class="article-meta">
        <a class="fa fa-bookmark" href="{{ $article->permalink() }}" title="Permalink" rel="bookmark"></a>
        {{ date('d. M Y', strtotime($article->meta('created'))) }} · By {{ $article->meta('author') }}
    </div>

    @endif

    <div class="article-content">
        {{ $article->content() }}
    </div>

</article>
