
@extend('theme:layout.html')


{% $articles = $page->meta('articles', []) %}


<h1>{{ $page->meta('title') }}</h1>


<div class="panel panel-primary u-mbl">

    <span class="badge badge-primary">Note:</span>

    <div class="u-mt">
        <small>To create blog entries, just create files in <code>content/blog/articles</code></small>
    </div>

</div>


@if( !count($articles) )

    Sorry, no articles to read right now.

@else

    @foreach($articles as $index => $article)

        @if( $article->content('teaser') )

            @render('layouts:blog/teaser.html', compact('article', 'index'))

        @else

            @render('layouts:blog/article.html', compact('article', 'index'))

        @endif

    @endforeach

@endif
