
@extend('theme:layout.html')


{% $articles = $page->meta('articles', []) %}

<div class="panel panel-box u-text-small u-mbl">
    <span class="badge badge-primary">Note</span>
    <div class="u-mt">To create blog entries, just create files in <code>content/blog/articles</code></div>
</div>

@if( !count($articles) )

    Sorry, no articles to read right now.

@else

    @foreach($articles as $index => $article)

        @if( $article->content('teaser') )

            @render('layouts:blog/teaser.html', compact('article', 'index'))

        @else

            @render('layouts:blog/article.html', compact('article', 'index'))

        @endif

    @endforeach

@endif
